h2{
    font-size: larger;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: italic;
    color: blue;
}
body{
    background: beige;
}
p{
    font-size: medium;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: medium;color: blue;
}
img{
    border-style: solid;float: left;margin: 10px;
}