h2 {
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  color: black;
  text-decoration: underline;
}
body {
  background-color: cadetblue;
}
p {
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
  color: black;
}
img {
  border-style: solid;
  float: left;
  margin: 10px;
}
div {
  width: 750px;
  border: 15px;
  padding: 5px;
  margin: 5px;
}
li {
  list-style: lower-roman;
}
ol {
  text-decoration: underline;
}
